<!DOCTYPE html>
<html>
<!--head-->
<%- include("partials/head") %>
<!--head END-->

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <%- include("partials/header") %>
    <!-- end header section -->
    <!--nav2-->
    <%- include("partials/nav2") %>
    <!--nav2 END-->
  </div>

  <<!-- about section -->
<%- include("partials/nosotros") %>
<!-- about section ends -->

  <!-- map section -->
  <%- include("partials/map") %>
  <!-- end map section -->

  <!-- info section -->
   <%- include("partials/info") %>
  <!-- end info section -->


  <!-- footer section -->
  <%- include("partials/footer") %>
  <!-- footer section -->

  <!--scripts-->
  <%- include("partials/scripts") %>
   <!--scripts END-->
   
</body>

</html>