<!DOCTYPE html>
<html>
<!--head-->
<%- include("partials/head") %>
<!--head END-->

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <%- include("partials/header") %>
    <!-- end header section -->

    <!-- slider section -->
    <%- include("partials/slider") %>
    <!-- end slider section -->
  </div>

  <!-- about section -->
<%- include("partials/nosotros") %>
  <!-- about section ends -->


  <!-- service section -->
   <%- include("partials/servicios") %>
  <!-- service section ends -->

  <!-- team section -->
    <%- include("partials/equipo") %>
  <!-- end team section -->

  <!-- contact section -->
    <%- include("partials/contacto") %>
  <!-- end contact section -->

  <!-- client section -->
    <%- include("partials/clientes") %>
  <!-- end client section -->

  <!-- map section -->
   <%- include("partials/map") %>
  <!-- end map section -->

  <!-- info section -->
   <%- include("partials/info") %>
  <!-- end info section -->


  <!-- footer section -->
  <%- include("partials/footer") %>
  <!-- footer section -->

  <!--script section-->
    <%- include("partials/scripts") %>
  <!--script section END-->

</body>

</html>